{% extends 'base.html' %}

{% block body %}

<h1>Add New Text</h1>
<form action="/new-text" method="post">
    {% csrf_token %}
    <div>
        <center>
            Title: <input type="text" name="title">
        </center>
        <br>
        Content: <textarea name="content" id="text" cols="100" rows="20"></textarea>
        <br>
        <center>
            <input type="submit">
        </center>
    </div>
</form>
<hr>

<h1>Texts</h1>
<ul>
{% for text in texts %}
    <li>
        <a href="/text/delete/{{ text.id }}" style="text-decoration: none;"><b>(x)</b></a>
        &nbsp; - &nbsp;
        
        <a href="/translate/{{ text.id }}">{{ text.title }}</a>
        &nbsp;--->&nbsp;
        <a href="/translate/{{ text.id }}/1">All-Words</a>
        <!--                             /all_words=[1 OR True]                             -->
    </li>
    <br>
{% endfor %}
</ul>

{% endblock %}