{% extends 'base.html' %}

{% load app_extras %}

{% block body %}

<center>
    <h1>
        {{ text.title }}
    </h1>
    <br>
    <hr>
</center>
<br><br>

<p style="line-height: 70px;">
    {% for word in words %}
    <span onclick="clicktotranslate(this)" class="on_hover_text_decoration_underline">{{ word.en|safe }}</span>
    
    {% if br %}
        <input type="checkbox"
            style="width: 25px; height: 25px; position: relative; top: 7px;"
            onchange="i_know_checkbox(this)" word='"{{ word.en }}"'>
            <br><br>
        {% endif %}
    
        {% endfor %}
                
    <center>
        <hr><br>
        <a href="/translate/{{ text.id }}/1">
            <b style="text-decoration: underline;">
                Next
            </b>
        </a>
        <br><br><hr>
    </center>
    
    count: {{ count }}
</p>

<div id="translated" style="
    border: 1px solid gray;
    padding: 1%; margin-top: 1%;
    text-align: center;

    background-color: antiquewhite;

    position: fixed;
    top: 700px;
    left: 750px;
    ">
X</div>

<script>
    function clicktotranslate(e) {
        var translated = document.getElementById('translated');
        word = e.innerHTML;
        $.ajax({
            url: '/translate',
            type: 'POST',
            data: {
                word: word
            },
            success: function(data) {
                console.log(data);
                translated.innerHTML = `<b style="text-decoration: underline; cursor: pointer;"><span onclick="idonotknow(` +data.id+ `)">` +data.word+ `</span></b>`;
                    }
            });
        }

    function i_know(word_id) {
        $.ajax({
            url: '/i-know',
            type: 'POST',
            data: {
                text_id: {{ text.id }},
                word_id: word_id
            },
            success: function(data) { }
            });
        }
    
    function i_know_checkbox(e) {
        word = e.getAttribute("word");
        operation = ""
        
        if (e.checked == true) {
            operation = "add";
        }
        if (e.checked == false) {
            operation = "remove";
        }

        $.ajax({
            url: '/i-know-checkbox',
            type: 'POST',
            data: {
                operation: operation,
                text_id: {{ text.id }},
                word: word
            },
            success: function(data) { }
            });
        }
</script>

{% endblock %}